.drawflow .drawflow-node {
    width: 80px;
    height: 80px;
    border: 2px solid #e4e4e4;
    border-radius: 10px;
    background: #ffffff;
}

// inputs and outputs --------------------------------------------

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
    background: #ffffff;
    border: none;
    border: 1px solid #ffffff;
    width: 19px;
    height: 19px;

    &::before {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #b3b3b3;
        border-radius: 50%;
    }

    &::after {
        content: '';
        width: 13px;
        height: 13px;
        border: 2px solid #d2d2d2;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 2px;
    }
}

.drawflow .drawflow-node .input {
    left: -26px;
}

.drawflow .drawflow-node .output {
    right: -9px;
}

// selected  --------------------------------------------

.drawflow .drawflow-node.selected {
    background: transparent;
    // border-color: #3a9023;

    & .stage-border {
        border-color: #c0dbb8;
    }

    & .conversion-border {
        border-color: #d4b4f1;
    }

    // & .node-adds {
    //     display: block;
    // }

    & .node-icons {
        display: flex;
    }
}

.node-options {
    position: absolute;
    right: -140px;
    top: -10px;
    padding: 8px 0;
    border: 1px solid #e4e4e4;
    // filter: drop-shadow(0px 4px 5px rgba(238, 238, 238, 0.63));
    border-radius: 0px 15px 15px 15px;
    display: block;

    & div {
        padding: 7px 13px;
        cursor: pointer;

        &:hover {
            background: #f3f5fb;
        }
    }
}

.node-description {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;

    & div {
        &:nth-child(1) {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
        }

        &:nth-child(2) {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.conversion-node-description {
    bottom: -43px;
    font-size: 18px;
    font-weight: 500;
}

// drawflow  --------------------------------------------

.drawflow {
    & span {
        width: 86px;
        height: 86px;
        border: 3px solid #ffffff;
        border-radius: 13px;
        position: absolute;
        left: -5px;
        top: -5px;
    }
}

#drawflow {
    background: #ffffff !important;
    width: 100%;
    height: 100%;
    text-align: initial;
    background-size: 20px 20px;
}
